<h1>{{title}}</h1>
<app-authors></app-authors>
<app-favorite></app-favorite>
<app-title-casing></app-title-casing>
<app-building-reusable-favorite 
  [is-favorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"></app-building-reusable-favorite>
<app-bootstrap-panel>
  <div class="header">Header</div>
  <div class="body">
    <h2>
      <p>body</p>
      <h3>some content</h3>
    </h2>
  </div>
</app-bootstrap-panel>
<app-bootstrap-panel>
  <ng-container class="header">Header</ng-container>
  <div class="body">
    <h2>
      <p>body</p>
      <h3>some content</h3>
    </h2>
  </div>
</app-bootstrap-panel>
<app-like 
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked"></app-like>
<app-directives-course></app-directives-course>

<!--custom directives-->
<br>
<!--bir tane bind property oldugu icin asagidakini degistirdi-->
<!-- <input type="text" appInputFormat [format]="'uppercase'"> -->
<input type="text" [appInputFormat]="'uppercase'">

<!--zippy assignment-->
<app-zippy title="shipping details">
  shipping details content
</app-zippy>
