<!--ngif and hidden property-->
<!-- <div *ngIf="courses.length > 0; else noCourses">
  list of courses
</div>
<ng-template #noCourses>
  no courses
</ng-template> -->

<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  list of courses
</ng-template>
<ng-template #noCourses>
  no courses
</ng-template>

<!-- <div [hidden]="courses.length === 0">
  list of courses
</div>
<div [hidden]="courses.length > 0">
  no courses
</div> -->

<!--ngswitchcase-->
<div class="mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a 
        class="nav-link" 
        [class.active]="viewMode === 'map'"
        (click)="viewMode = 'map'">Map View</a>
    </li>
    <li class="ml-5">
      <a 
        class="nav-link" 
        [class.active]="viewMode === 'list'"
        (click)="viewMode = 'list'">List View</a>
    </li>
  </ul>
  <div class="mt-1" [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map view content</div>
    <div *ngSwitchCase="'list'">List view content</div>
    <div *ngSwitchDefault>otherwise</div>
  </div>
</div>

<ul>
  <li *ngFor="let course of courses; index as i">
    {{i}} - {{course.name}}
    <button (click)="onRemove(course)">remove</button>
  </li>
  <!--ngforof kismina bakti docs dan ve asagidaki ornegi yapti-->
  <li *ngFor="let course of courses; even as isEven">
    {{course.name}} <span *ngIf="isEven">(EVEN)</span>
    <button (click)="onChange(course)">change</button>
  </li>
</ul>

<!--ngfor and change detection-->
<button (click)=onAdd()>add</button>

<!--ngFor and trackby-->
<button (click)="loadCourses()">load</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    {{course.name}}
  </li>
</ul>

<!--ngstyle directive-->
<button
  [style.backgroundColor]="canSave ? 'blue': 'gray'"
  [style.color]="canSave ? 'white': 'black'"
  [style.fontWeight]="canSave ? 'bold': 'normal'"> 
  Save
</button>
<button
  [ngStyle]="{
    'backgroundColor': canSave ? 'blue': 'gray',
    'color': canSave ? 'white': 'black',
    'fontWeight': canSave ? 'bold': 'normal'
  }"> 
  Save
</button>

<!-- safe traversal operator -->
<br>
<br>
<span>{{task.assignee.name}}</span>
<span *ngIf="task.safe">{{task.safe.traversal}}</span>
<span>{{task.safe?.traversal}}</span>


