<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <div class="form-group">
    <label for="name">course name</label>
    <input required minlength="3" ngModel name="name" #name="ngModel" type="text" id="name" class="form-control">
    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
      <div *ngIf="name.errors.required">name field is required</div>
      <div *ngIf="name.errors.minlength">name field should be at least {{name.errors.minlength.requiredLength}} chars.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="category">category</label>
    <select required ngModel name="category" #category="ngModel" class="form-control" id="category">
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{category.name}}
      </option>
    </select>
    <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
      <div *ngIf="category.errors.required">category field is required</div>
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="moneyBackGuarantee" ngModel name="hasMoneyBackGuarantee">
    <label class="form-check-label" for="moneyBackGuarantee" >
      30-day money back guarantee
    </label>
  </div>
  <p>{{f.value | json}}</p>
  <button [disabled]="f.invalid" class="btn btn-primary">create</button>
</form>
